.footer {
  padding: 40px 0;
  background-color: var(--mantine-color-gray-9);
  color: var(--mantine-color-gray-4);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Montserrat, system-ui, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.copyright {
  font-size: 14px;
}

@media (max-width: 768px) {
  .inner {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}
